.git
.git-old*/
.github
.vscode
.claude
.agents

.env
.env.*
!.env.example

backend/target
frontend/node_modules
frontend/dist
node_modules

*.log
chroma_db
db/*.sql
data/*.sql
awesome-design-md-main-1
memory
