* text=auto

*.css text eol=lf
*.html text eol=lf
*.java text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.py text eol=lf
*.sh text eol=lf
*.sql text eol=lf
*.vue text eol=lf
*.xml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
Dockerfile* text eol=lf

*.gif binary
*.ico binary
*.jpg binary
*.jpeg binary
*.png binary
*.webp binary
*.xlsx binary
